In [1]:
import pandas as pd
import numpy as np

In [6]:
colunas_filmes = ['star_rating','title','content_rating','genre','duration','actor_list']

file = 'https://raw.githubusercontent.com/Rafaheel/Data-Science/master/M%C3%A9todos%20de%20Linhas%20e%20Colunas/movies.csv'
filmes = pd.read_csv(file, header=0, names=colunas_filmes)
filmes.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actor_list'],
      dtype='object')

In [7]:
filmes.head()

,star_rating,title,content_rating,genre,duration,actor_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [8]:
#Ordenando
filmes.title.sort_values().head(10)

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
910                     2046
596                 21 Grams
624                25th Hour
708         28 Days Later...
60                  3 Idiots
Name: title, dtype: object

In [9]:
A = filmes.title.sort_values()
type(A)

pandas.core.series.Series

In [10]:
A

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
               ...
955         Zero Dark Thirty
677                   Zodiac
615               Zombieland
526                     Zulu
864                    [Rec]
Name: title, Length: 979, dtype: object

In [11]:
#Ordem Inversa
filmes.title.sort_values(ascending=False).head(10)

864                 [Rec]
526                  Zulu
615            Zombieland
677                Zodiac
955      Zero Dark Thirty
535                 Zelig
280    Young Frankenstein
96                Yojimbo
235               Yip Man
403            Ying xiong
Name: title, dtype: object

In [12]:
# Há outra forma de ordenar umdata Frame original (Nao altera o data frame original)
filmes.sort_values('title',ascending=False).head()

,star_rating,title,content_rating,genre,duration,actor_list
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."

In [14]:
#é possivel ordenar por mais de um criterio 
filmes.sort_values(['genre','duration']).head(20)

,star_rating,title,content_rating,genre,duration,actor_list
533,7.8,Run Lola Run,R,Action,80,"[u'Franka Potente', u'Moritz Bleibtreu', u'Her..."
633,7.7,The Warriors,R,Action,92,"[u'Michael Beck', u'James Remar', u'Dorsey Wri..."
455,7.9,Taken,PG-13,Action,93,"[u'Liam Neeson', u'Maggie Grace', u'Famke Jans..."
685,7.7,First Blood,R,Action,93,"[u'Sylvester Stallone', u'Brian Dennehy', u'Ri..."
744,7.6,Mad Max 2: The Road Warrior,R,Action,94,"[u'Mel Gibson', u'Bruce Spence', u'Michael Pre..."
619,7.7,Forbidden Planet,PASSED,Action,98,"[u'Walter Pidgeon', u'Anne Francis', u'Leslie ..."
276,8.1,A Fistful of Dollars,R,Action,99,"[u'Clint Eastwood', u'Gian Maria Volont\xe9', ..."
403,7.9,Ying xiong,PG-13,Action,99,"[u'Jet Li', u'Tony Chiu Wai Leung', u'Maggie C..."
552,7.8,Kung Fu Hustle,R,Action,99,"[u'Stephen Chow', u'Wah Yuen', u'Qiu Yuen']"
740,7.6,The Raid: Redemption,R,Action,101,"[u'Iko Uwais', u'Ananda George', u'Ray Sahetapy']"
327,8.0,The Adventures of Robin Hood,PG,Action,102,"[u'Errol Flynn', u'Olivia de Havilland', u'Bas..."
515,7.8,Dirty Harry,R,Action,102,"[u'Clint Eastwood', u'Andrew Robinson', u'Harr..."
610,7.7,Enter the Dragon,R,Action,102,"[u'Bruce Lee', u'John Saxon', u'Jim Kelly']"
717,7.6,The Legend of Drunken Master,R,Action,102,"[u'Jackie Chan', u'Ho-Sung Pak', u'Lung Ti']"
729,7.6,The Crow,R,Action,102,"[u'Brandon Lee', u'Michael Wincott', u'Rochell..."
832,7.5,RoboCop,R,Action,102,"[u'Peter Weller', u'Nancy Allen', u""Dan O'Herl..."
675,7.7,Kiss Kiss Bang Bang,R,Action,103,"[u'Robert Downey Jr.', u'Val Kilmer', u'Michel..."
502,7.8,The French Connection,R,Action,104,"[u'Gene Hackman', u'Roy Scheider', u'Fernando ..."
653,7.7,Fearless,PG-13,Action,104,"[u'Jet Li', u'Li Sun', u'Yong Dong']"
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."

# Filtrando DataFrames

In [15]:
#vamos criar uma lista para saber os filmes que durão mais que 180 minutos.

boleanos = []

for length in filmes.duration:
    if length >= 200:
        boleanos.append(True)
    else:
        boleanos.append(False)

In [16]:
boleanos[:20]

[False,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False]

In [18]:
# é possivel transformar uma lista em serie
duração = pd.Series(boleanos)
type(duração)

pandas.core.series.Series

In [19]:
#Para series boleanos ou para indexar e filtrar, é preciso usar a notação de colchetes
print(filmes['title'] [:10])

0                         The Shawshank Redemption
1                                    The Godfather
2                           The Godfather: Part II
3                                  The Dark Knight
4                                     Pulp Fiction
5                                     12 Angry Men
6                   The Good, the Bad and the Ugly
7    The Lord of the Rings: The Return of the King
8                                 Schindler's List
9                                       Fight Club
Name: title, dtype: object

In [21]:
#aplicando a serie no data frame inteiro
filmes[duração]

,star_rating,title,content_rating,genre,duration,actor_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [23]:
# Aplicando usando apenas as colunas desejadas.
filmes[duração] [['title','star_rating']]

                                             title  star_rating
2                           The Godfather: Part II          9.1
7    The Lord of the Rings: The Return of the King          8.9
17                                   Seven Samurai          8.7
78                     Once Upon a Time in America          8.4
85                              Lawrence of Arabia          8.4
142              Lagaan: Once Upon a Time in India          8.3
157                             Gone with the Wind          8.2
204                                        Ben-Hur          8.1
445                           The Ten Commandments          7.9
476                                         Hamlet          7.8
630                                      Malcolm X          7.7
767                It's a Mad, Mad, Mad, Mad World          7.6