# Aprofundando em series

In [1]:
import pandas as pd
import numpy as np

In [2]:
colunas_filmes = ['star_rating','title','content_rating','genre','duration','actors_list']

file="https://raw.githubusercontent.com/Rafaheel/Data-Science/master/M%C3%A9todos%20de%20Linhas%20e%20Colunas/movies.csv"
filmes = pd.read_csv(file, header=0, names=colunas_filmes)
filmes.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [3]:
filmes.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
#Examinando os tipos
filmes.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

# Explorando series numéricas

In [5]:
filmes.duration.describe()

count    979.000000
mean     120.979571
std       26.218010
min       64.000000
25%      102.000000
50%      117.000000
75%      134.000000
max      242.000000
Name: duration, dtype: float64

In [6]:
#Retirando a média de duração

filmes.duration.mean()

120.97957099080695

In [ ]:
filmes.genre.value_counts()

In [ ]:
#Podemos utilizar também o value_counts() para dados não categóricos

filmes.duration.value_counts()

# Plotando Histograma e Gráfico de Barras

In [ ]:
%matplotlib inline

In [ ]:
filmes.duration.plot(kind='hist')

In [ ]:
filmes.genre.value_counts().plot(kind='bar')