# Manipulando Índices

In [1]:
import numpy as np
import pandas as pd

In [6]:
file="https://raw.githubusercontent.com/Rafaheel/Data-Science/master/Aprofundando%20em%20Eixos/drinks.csv"
drinks = pd.read_csv(file)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

In [7]:
#Qualquer Dataframe possui um índice

drinks.index

RangeIndex(start=0, stop=193, step=1)

In [8]:
#As colunas também estão armazenadas em um objeto de índices

drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [9]:
# Índices ou colunas não são incluidas no shape

drinks.shape

(193, 7)

In [10]:
# Índices e colunas são inteiros por padrão caso não sejam definidos

file="https://raw.githubusercontent.com/Rafaheel/Data-Science/master/Pandas/espectadores.txt"

pd.read_table(file, header=None, sep='|').head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

**Os índices são utilizados em geral para três operações:**

1. Identificação
2. Seleção
3. Alinhamento

# Identificação

In [11]:
# Na identificação, o índice permanece com cada linha quando filtramos um Dataframe

drinks[drinks.continent=='South America']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
6,Argentina,193,25,221,8.3,43.085.000,South America
20,Bolivia,167,41,8,3.8,11.410.651,South America
23,Brazil,245,145,16,7.2,207.660.929,South America
35,Chile,130,124,172,7.6,18.006.407,South America
37,Colombia,159,76,3,4.2,48.336.300,South America
52,Ecuador,162,74,3,4.2,16.027.500,South America
72,Guyana,93,302,1,7.1,746.900,South America
132,Paraguay,213,117,74,7.3,7.003.406,South America
133,Peru,163,160,21,6.1,31.151.643,South America
163,Suriname,128,178,7,5.6,534.189,South America
185,Uruguay,115,35,220,6.6,3.415.866,South America
188,Venezuela,333,100,3,7.7,30.620.404,South America

# Localização

In [12]:
# Na seleção podemos trazer uma parte do Dataframe utilizando o índice 

# A função loc permite a localização por índice

drinks.loc[6, 'beer_servings']

193

# Alterando índices

## A alteração de índices reflete no Dataframe na forma de agrupamentos ou reshaping

In [13]:
#Alterando o índice para países com a opção inplace, que refletirá no Dataframe ORIGINAL
drinks.set_index('country', inplace=True)
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [14]:
# Verificando novamente os índices

drinks.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [15]:
# Podemos também concluir que Países não é mais uma coluna

drinks.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [16]:
# Anteriormente, tínhamos um shape de 193 linhas e 7 colunas. (193,7)
# Qual será a mudança agora?

drinks.shape

(193, 6)

In [17]:
# Utilizamos a função loc mais uma vez para trazer uma parte do Dataframe

drinks.loc['Brazil', 'beer_servings']

245

# Nomeando índices

In [18]:
# Podemos nomear os índices, mas essa característica é opcional, porém, recomendada em produção e documentação

drinks.index.name = None
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

In [19]:
# Renomeando o índice

drinks.index.name = 'country'
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
country,,,,,,
Afghanistan,0,0,0,0.0,34.660.000,Asia
Albania,89,132,54,4.9,2.876.000,Europe
Algeria,25,0,14,0.7,40.061.000,Africa
Andorra,245,138,312,12.4,77.281.000,Europe
Angola,217,57,45,5.9,28.081.000,Africa

# Resetando um índice

In [20]:
drinks.reset_index(inplace=True)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa

# Métodos de Dataframes em Séries

In [21]:
# Podemos mesclar praticamente todos os métodos dos Dataframes
# Aqui por exemplo, o describe retorna um novo Dataframe

drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [22]:
# Que pode ser utilizado pelo método loc.
# Qual a média de cerveja consumida no mundo inteiro 

drinks.describe().loc['mean', 'beer_servings']

106.16062176165804

In [42]:
# Toda série também possui um índice, que é carregado a partir do Dataframe

drinks.continent.head()

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: object

In [43]:
# Alterando o índice mais uma vez

drinks.set_index('country', inplace=True)

In [44]:
# Verificando uma série do Dataframe

drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [45]:
# Um outro exemplo de série retornada, é quando utilizamos value_counts()
# Nesse caso, o value_counts vai somar quantas vezes o índice aparece e exibir o total

drinks.continent.value_counts()

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [47]:
# Podemos também ter acesso ao índice de uma série

drinks.continent.value_counts().index

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object')

In [48]:
# Acessando os valores da série

drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12], dtype=int64)

In [147]:
# Os elementos de uma série podem ser selecionados utilizando a notação de brackets

drinks.continent.value_counts()['Africa']

53

# Ordenando Séries

In [49]:
# Qualquer série pode ter os seu valores ordenados por valores

drinks.continent.value_counts().sort_values()

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

In [50]:
# Qualquer série pode ter os seus valores ordenados por índices

drinks.continent.value_counts().sort_index()

Africa           53
Asia             44
Europe           45
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

# Alinhamento

In [23]:
# A coluna beer_servings contém a média anual de cerveja consumida por pessoa
drinks.beer_servings.head()

0      0
1     89
2     25
3    245
4    217
Name: beer_servings, dtype: int64

In [24]:
# Supondo uma classificação: 0 - 75 = Baixa / 76 - 150 = Media / 151 - ... Alta
# Vamos criar outra série baseada e ALINHADA à primeira

cons_beer = pd.Series(['Baixo', 'Baixo', 'Alto'], index=['Afghanistan', 'Albania', 'Andorra'], name='consumo')
cons_beer

Afghanistan    Baixo
Albania        Baixo
Andorra         Alto
Name: consumo, dtype: object

- As duas séries estão **aligned** (alinhadas) pelos índices.
- Se um valor está faltando em uma série, ele é marcado como **NaN**.
- O alinhamento de índices nos facilita a trabalhar com **dados incompletos**.

In [26]:
# Concatene as séries ou dataframes

pd.concat([drinks, cons_beer], axis=1).head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,consumo
0,Afghanistan,0.0,0.0,0.0,0.0,34.660.000,Asia,NaN
1,Albania,89.0,132.0,54.0,4.9,2.876.000,Europe,NaN
2,Algeria,25.0,0.0,14.0,0.7,40.061.000,Africa,NaN
3,Andorra,245.0,138.0,312.0,12.4,77.281.000,Europe,NaN
4,Angola,217.0,57.0,45.0,5.9,28.081.000,Africa,NaN
5,Antigua & Barbuda,102.0,128.0,45.0,4.9,86.295,North America,NaN
6,Argentina,193.0,25.0,221.0,8.3,43.085.000,South America,NaN
7,Armenia,21.0,179.0,11.0,3.8,2.925.000,Europe,NaN
8,Australia,261.0,72.0,212.0,10.4,24.013.000,Oceania,NaN
9,Austria,279.0,75.0,191.0,9.7,8.725.111,Europe,NaN
10,Azerbaijan,21.0,46.0,5.0,1.3,9.654.900,Europe,NaN
11,Bahamas,122.0,176.0,51.0,6.3,368.390,North America,NaN
12,Bahrain,42.0,63.0,7.0,2.0,1.359.800,Asia,NaN
13,Bangladesh,0.0,0.0,0.0,0.0,159.145.000,Asia,NaN
14,Barbados,143.0,173.0,36.0,6.3,285.000,North America,NaN
15,Belarus,142.0,373.0,42.0,14.4,9.485.300,Europe,NaN
16,Belgium,295.0,84.0,212.0,10.5,11.250.659,Europe,NaN
17,Belize,263.0,114.0,8.0,6.8,368.310,North America,NaN
18,Benin,34.0,4.0,13.0,1.1,10.315.244,Africa,NaN
19,Bhutan,23.0,0.0,0.0,0.4,765.650,Asia,NaN